/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #2d2d29;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: #dfece6;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Barra de título */
  .form-header {
    background-color: #92c7a3;
    color: #2d2d29;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .cancel-button {
    background: none;
    border: 1 px;
    border-color: white;
    border-radius: 0 px;
    color: #2d2d29;
    cursor: pointer;
    font-size: 16px;
  }
  
  .cancel-button:hover{
      background-color: white;
      border-color: black;
      color: black;
  }
  
  /* Formulario */
  .user-form {
    padding: 20px;
  }
  
  .form-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #3ca2a2;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .form-input::placeholder {
    color: #999;
  }
  
  .submit-button {
    background-color: #3ca2a2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .submit-button:hover {
    background-color: #3ca2a2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    /*display: block;*/ /* Hacer que el botón sea un bloque */
    /*margin: 0 auto;*/ /* Centrar horizontalmente */
  }
  
