.modal {
    /* Estilos para el contenedor del modal */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0); /* Fondo del modal */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    width: 400px; /* Ancho del modal */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra */
}

.modal-overlay {
    /* Estilos para la superposición del modal */
    background-color: rgba(0, 0, 0, 0.75); /* Color de fondo oscuro */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}
input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white; /* Para que el fondo sea igual al input */
  }

input, select {
    display: block;
    margin: 10px 0; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
} */

.boton-guardar {
    margin-top: 10px; 
    padding: 10px 20px; 
    background-color: #007bff!important; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

button:hover {
    background-color: #0056b3; 
}


