/* Servicios.css */

/*h2 {
  font-size: 28px;
  color: #ffffff; 
  text-align: center;
  margin-top: 20px; 
  font-weight: bold; 
  text-transform: uppercase; 
  letter-spacing: 2px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}*/




thead tr:hover {
  background-color: initial; 
  color: inherit; 
}



#botones-servicios button {
  border: none;
  
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
  display: inline-block;
  min-width: 80px;
  display: flex;
  gap: 10px; 
}

.btn-actualizar{
  border: none;
  
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
  display: inline-block;
  min-width: 80px;
  display: flex;
  gap: 10px; 
}

.btn-borrar {
  background-color: #f44336;
  color: white;
  border: none;

  text-align: center;
  text-decoration: none;
  font-size: 15px; 
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
  display: inline-block;
  min-width: 80px; 
}


.btn-borrar:hover {
  background-color: #e53935;
}


.btn-agregar, .btn-volver, .btn-actualizar {
  background-color: #4CAF50; 
  color: white;
  
  
}

.btn-agregar:hover, .btn-volver:hover, .btn-actualizar:hover {
  background-color: #377d3b;
  /*color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px #377d3b;
  transition: all 0.2s ease;*/
}

.btn-borrar {
  background-color: #f44336; 
  color: white;
}

.btn-borrar:hover {
  background-color: #892523;
}

.botones {
  display: flex;
  justify-content: center; 
  gap: 10px; 
  margin-top: 20px;
}







